# Dependencies
node_modules

# Strapi
.env
.tmp
dist
build
.strapi
.strapi-updater.json
.strapi-cloud.json
public/uploads/*
!public/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.idea
*.tsbuildinfo
.eslintcache

# Logs
*.log
coverage
